body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* NAVBAR */
.brand-logo {
    margin-left: 25px;
}

/* MODAL */

.modal {
    color: #fff !important;
    border: 5px solid red;
    border-radius: 15px;
    padding: 50px 0;
}

.modal,
.modal-footer {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.modal-footer {
    text-align: center !important;
}

/* DATE BOX */
 .select-month input,
 .select-year input{
    color: #fff;
}

svg:not(:root) {
    background: red !important;
    border-radius: 50%;
}